<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">
                        Made with <span class="far fa-heart"></span> by <a href="https://lucatolton.me">Luca Tolton</a> <br />
                        <span class="far fa-sticky-note"></span> PasteJS version <span id="pastejs_ver">loading</span>
                    </p>
                </div>
             </div>
        </div>
    </div>
</footer>

<!-- Core -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/prismjs/prism.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="/assets/js/neumorphism.js"></script>

<script src="/assets/js/core.js"></script>